@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #b7b9e2;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 350px;
    text-align: center;
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    margin-bottom: 8px;
    object-fit: contain;
}

.name {
    font-family: "Nerko One", system-ui;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: black;
}

.bio {
    color: rgba(0, 0, 0, 0.6);
}

.sosmed {
    display: flex;
    justify-content: center;
}

.sosmed a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
    margin: 5px;
}

.sosmed i {
    font-size: 1.5rem;
    color: #8787A3;
}

.sosmed i:hover {
    color: white;
}

ul {
    width: 150%;
    max-width: 100%;
    padding-left: 0px;
}
  
ul li {
    list-style: none;
}
  
ul.links li:not(:last-child) {
    margin-bottom: 1rem;
}

.links {
    margin-top: 1rem;
}

.link-card {
    display: flex;
    justify-content: space-between;
    background-color: rgba(213,228,249,255);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #b7b9e2;
    text-decoration: none;
    align-items: center;
}

.link-card:hover {
    border: 2px solid white;
}

.links .link-text {
    text-align: center;
    color: black;
}

.link-action {
    color: black;
    cursor: pointer;
    padding: 10px;
}

.copyright {
    position: flex;
    bottom: 0;
    justify-content: center;
    padding-top: 10px;
}

.copyright-text {
    font-size: 13px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
}

#toast {
    width: max-content;
    position: fixed;
    top: 0;
}
  
.toast-container {
    background-color: white;
    color: #0f0f25;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    animation: muncul 300ms ease-in-out;
}
  
.toast-gone {
    animation: hilang 1s ease-in-out 1s;
}
  
@keyframes muncul {
    from {
      opacity: 0;
      transform: translateY(-4rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
@keyframes hilang {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

@media only screen and (max-width: 768px) {
    .items-list {
        width: 300px;
    }
}
