@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap');

* {
    box-sizing: border-box;
}

.container {
    background: #b7b9e2;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 350px;
    text-align: center;
}

body {
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    margin-bottom: 8px;
    object-fit: contain;
}

.name {
    font-family: "Nerko One", system-ui;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: black;
}

.bio {
    color: rgba(0, 0, 0, 0.6);
}

.sosmed {
    display: flex;
    justify-content: center;
}

.sosmed a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
    margin: 5px;
}

.sosmed i {
    font-size: 1.5rem;
    color: #8787A3;
}

.sosmed i:hover {
    color: white;
}

.items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 12px;
}

.items {
    display: block;
    background-color: rgba(213,228,249,255);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.items:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgba(238,215,243,255);
}

.items a {
    text-decoration: none;
    color: black;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    .items-list {
        width: 300px;
    }
}
